src/main/app/multi-level-object-store.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<spring:beans>
		<spring:bean name="inMemoryStore1"
			class="org.mule.util.store.InMemoryObjectStore" />
		<spring:bean name="inMemoryStore2"
			class="org.mule.util.store.InMemoryObjectStore" />
	</spring:beans>

	<ee:object-store-caching-strategy
		name="Caching_Strategy" doc:name="Caching Strategy"
		keyGenerationExpression="#[message.inboundProperties['http.query.params'].key]">
		<custom-object-store class="com.mulesoft.SecondLevelObjectStore">
			<spring:property name="firstLevel" ref="inMemoryStore1" />
			<spring:property name="secondLevel" ref="inMemoryStore2" />
		</custom-object-store>
	</ee:object-store-caching-strategy>
	
	
	<flow name="multi-level-object-storeFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/" doc:name="HTTP" />
		<ee:cache doc:name="Cache" cachingStrategy-ref="Caching_Strategy">
			<set-payload value="&quot;Hello World&quot;" doc:name="Set Payload" />
		</ee:cache>
	</flow>
</mule>
